.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#departure-board {
  margin: 2em 2em 2em 2em;
  background-color: black;
  color: white;
  padding: 0.5em;
}

#left-side {
  display: inline;
  float: left;
}

#left-top {
  xposition: absolute;
  float: left;
  width: 40%;
  display: inline;
}

#left-bottom {
  position: absolute;
  margin-top: 1.5em;
  text-align: left;
}

#right-side {
  float: right;
  display: inline;
  width: 6em;
}

#right-top {
  position: absolute;
}

#right-bottom {
  position: absolute;
  margin-top: 1.5em;
}

#center {
  display: inline;
}

#heading-row {
  margin-top: 3em;
}

#destination-heading {
  float: left;
  width: 40%;
  text-align: left;
}

#scheduled-time-heading {
  float: left;
  width: 20%
}

#track-heading {
  float: left;
  width: 15%
}

#status-heading {
  float: left;
  width: 18%;
  text-align: right;
}

.departure-row-destination {
  float: left;
  width: 40%;
  text-align: left;
  color: #ffff00;
}

.departure-row-scheduled-time {
  float: left;
  width: 20%
}

.departure-row-track {
  float: left;
  width: 15%
}

.departure-row-status {
  text-align: right;
}

#yellow-text {
  color: #ffff00;
}

